"object_detection/runs/detect/predict/*.avi" 
"object_detection/models/*.pt" 
"object_detection/runs/detect/predict/*.avi" 
"object_detection/models/*.pt" 
.env
modules/.env
scripts/garbage_time/00_event.xlsx